apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  namespace: tutorial
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
      - name: keycloak
        image: jboss/keycloak:4.5.0.Final
        env:
        - name: KEYCLOAK_USER
          value: "admin"
        - name: KEYCLOAK_PASSWORD
          value: "admin"
        - name: PROXY_ADDRESS_FORWARDING
          value: "true"
        ports:
        - name: http
          containerPort: 8080
        - name: https
          containerPort: 8443
        readinessProbe:
          httpGet:
            path: /auth/realms/master
            port: 8080
            failureThreshold: 10
            initialDelaySeconds: 30
        livenessProbe:
          httpGet:
            path: /auth/realms/master
            port: 8080
            initialDelaySeconds: 60
