*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  overflow: hidden;
}

.bubble {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: linear 2s, transform 0.2s;
}

.bubble:hover {
  transform: scale(1.7);
}

.bubble--bust {
  transform: scale(1.8);
}