<nav class="rhd-footer-nav" aria-label="Secondary Navigation" role="navigation">
  <ul class="rhd-menu">
    <li class="menu-item menu-item--expanded">
      <h3 class="section-toggle">Resources</h3>
      <ul class="rhd-menu">
        <li class="menu-item">
          <a href="https://github.com/redhat-developer-demos/istio-tutorial" title="Istio Tutorial">Istio
            Tutorial</a>
        </li>
        <li class="menu-item">
          <a href="https://github.com/redhat-developer-demos/istio-tutorial/issues" title="Issue Tracker">Issue
            Tracker</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>